@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
/* variables */
:root {
  /* Colors */
  --primary-color: #000;
  --secondary-color:rgb(113, 113, 122);
  --bg-primary: #f9fafb;
  --text-color: #222222;
  --text-color-two: #ffffff;
  --important-text-color: #ff9e0d;
  --link-color:#0da2b8;
  --link-hovered-color:#14e0ff;
  --bg-secondary: #000000;
  --border-color:rgb(218, 218, 218);
  --card-background: #f4f4f4;
  --card-text:#f4f4f4;
  --bg-secondary-two: #111111;

  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  /* Font Weight */
  --weight-small: 400;
  --weight-semibold: 600;
  --weight-bold: 800;

  /* Max width */
  --width-small: 600px;
  --width-medium: 1300px;
  --width-large: 1700px;

  --special-button:#61c7d6;
  --special-icons: rgb(22, 145, 175);

  --slide-progress:50%;
  --slide-progress-transition: all 200ms cubic-bezier(0.82, 0.02, 0.39, 1.01 );
  --slider-container-width: 100%;

  --gallery-image-width: 405px;

  --text-with-multimedia-width: 200px;
  --target-aspect-ratio: 16/9;

  --table-gallery-tile-width: 349px;
  --table-gallery-text-color: var(--primary-color);
}

[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color:#adb0b1;
  --bg-primary: #131415;
  --text-color: #ffffff;
  --text-color-two: #222222;
  --link-color:#0da2b8;
  --link-hovered-color:#14e0ff;
  --bg-secondary: #ffffff;
  --border-color:#2b3031;
  --card-background: #111111;
  --card-text:#f4f4f4;
  --bg-secondary-two: #f4f4f4;
  --shadow: 0 2px 10px rgba(95, 95, 95, 0.2);

  --special-button:#248e9e;
  --special-icons:#61c7d6;
}

* {

    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-primary);            
}

#main-container {
  margin-top: 4em;
}

.container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 1rem 1rem;
}

h1::selection,
h2::selection {
  color: #111;
  background: var(--primary-color);
}

/* Navbar */
#initials{
  font-size: 30px;
  color: var( --primary-color);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--bg-primary);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  height: 80px;
  width: 100%;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  background: var(--bg-primary);
}

.navbar .nav-link {
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: var(--weight-semibold);
}

.navbar #logo img {
  display: block;
  width: 40px;
}

.navbar .btn {
  margin-right: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-color);
}

.navbar ul {
  list-style: none;
}

/* hamburger */
.hamburger {
  margin-bottom: 0.1rem;
  display: none;
}

.bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  background-color: var(--bg-secondary);
}

/* Dark mode toggle */
.theme-switch img {
  margin-top: -10px;
}

#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-icons > img {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

.moon {
  transform: rotate(10deg);
}

#switch:checked + .toggle-icons .moon {
  transform: rotate(250deg);
}

#switch:checked + .toggle-icons .sun {
  transform: rotate(100deg);
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.82rem;
  transition: 0.3s;
}

.btn-primary {
  background: var(--primary-color);
  color: #000000;
}

.btn-secondary {
  margin: 5px 0;
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
}

/* add hover to resume button */
.btn-primary:hover {
  background: var(--secondary-color);
}


#back-button-section a {
    display: flex;
}

/* Responsiveness */
@media (max-width: 768px) {
}

@media (max-width: 800px) {
  .navbar .nav-menu {
    position: fixed;
    right: -100vw;
    top: 4.5rem;
    flex-direction: column;
    width: calc(80% - 10px);
    transition: 0.3s;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 5px;
    align-items: flex-start;
  }

  .navbar .btn {
    margin: 0;
    margin-top: 1rem;
  }

  .nav-menu.active {
    right: 20px;
  }

  .nav-menu .nav-link {
    font-size: 0.9rem;
    margin: 0 0.2rem;
  }

  .nav-menu li {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .nav-menu .btn {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

#footer{
    justify-content: center;
}

.footer--div{
    width: 100%;
    text-align: center;
}

#footer a{
    color: var(--link-color);
}


/* Hyperlinks */
a{
    text-decoration: none;
    color: var(--link-color);
    font-weight: 500;
    transition: 0.3s;
}

a:hover{
    color: var(--link-hovered-color);
}

/* Gallery */

#image-container {
    max-width: 100%;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image-gallery video, .image-gallery img {
  width: var(--gallery-image-width);
  aspect-ratio: 16/9;
   padding: 0.5rem;
  border-radius: 15px;
  object-fit: cover;
}


/* Carousel Gallery */

*, *::after, *::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slider-container {
    place-items: center;
    align-content: center;
    padding: 2rem 0;
}

.slide img {
    width: 100%;
    object-fit: center;
}

.slider {
    position: relative;
    display: grid;
    place-items: center;
    max-width: var(--slider-container-width);
    overflow: hidden;
    border-radius: 10px;

}

.slide {
   height: 600px;
   max-height: 100vh;
   display: flex;  
}

.slide img {
    width: 100%;
    flex: 1 0 100%;
}

.slider-progress {
    position: absolute;
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, hsla(201, 50%, 90%, 0.2), hsla(201, 93%, 52%, 0.1));
    bottom: 0;
    z-index: 4;
}

.slider-progress::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, hsla(201, 50%, 90%, 0.7), hsla(192, 80%, 53%, 0.6));
    width: var(--slide-progress);
    height: 6px;
    left: 0;
    transition: var(--slide-progress-transition) ;
}

/* Buttons and animations */
.slider-btn-container{
    position: absolute;
    width: 100%;
}

.slider-btn {
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    padding: .2rem;
    top: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    background: hsla(201, 50%, 30%, 0.15);
    color:  hsla(201, 50%, 95%, 0.9);
    transition: all 200ms ease;
}

.slider-btn svg {
    pointer-events: none;
}

.slider-btn-left {
    left: 0;
    transform: translate(50%, -50%);
}

.slider-btn-left:hover {
    left: -3px;
}

.slider-btn-right {
    right: 0;
    transform: translate(-50%, -50%);
}

.slider-btn-right:hover {
    right: -3px;
}

.text-with-multimedia {
  display: flex;
  width: 100%;
}

.text-with-multimedia > *:first-child {
    margin-right: 1rem;
    flex-grow: 1;
}

.text-with-multimedia img {
  width: var(--text-with-multimedia-width);
  aspect-ratio: var(--target-aspect-ratio);
  border-radius: 5px;
}

.text-with-multimedia video {
  width: var(--text-with-multimedia-width);
  aspect-ratio: var(--target-aspect-ratio);
  border-radius: 5px;
}

/* Paragraph styles */

.important-text {
  text-decoration: underline !important;
  font-weight: 700 !important;
  color : var(--important-text-color) !important;
}