<header>
    <!-- Navbar -->
    <nav class="navbar">
    <div class="container">
        <!-- Logo -->
        <p id="initials">PH</p>
        <!-- Navbar links -->
        <ul class="nav-menu">
        <li><a class="nav-link" href="/portfolio/index.html">EXPERIENCE & SKILLS</a></li>
        <li><a class="nav-link" href="/portfolio/pages/projects.html">PROJECTS</a></li>
        <li><a class="nav-link" href="/portfolio/pages/game-jams.html">GAME JAMS</a></li>
        <li><a class="nav-link" href="https://www.linkedin.com/in/paulina-halatek/" target="_blank">LINKEDIN</a></li>
        <li><a class="nav-link" href="https://github.com/Paaulii" target="_blank">GITHUB</a></li>
        </li>

        <!-- Toggle switch -->
        <div class="theme-switch">
            <input type="checkbox" id="switch" />
            <label class="toggle-icons" for="switch">
            <img class="moon" src="/portfolio/assets/images/moon.svg" />
            <img class="sun" src="/portfolio/assets/images/sun.svg" />
            </label>
        </div>
        <!-- Hamburger menu -->
        </ul>
        <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        </div>
    </div>
    </nav>
</header>